{% extends "base.html" %}

{% block title %}PracWeb{% endblock %}

{% block header %}
<div class="page-header">
  <h1>
    Классификатор
    <small><a href="reports" class="pull-right">
        Отчеты&nbsp;&rarr;
    </a></small>
  </h1>
</div>
{% endblock header%}

{% block body %}
<div class="row-fluid">
  <div class="span3">
    <legend>Настройки&nbsp;&nbsp;
      <button data-target="#dlgModelSettings" class="btn btn-mini" role="button" data-toggle="modal">
        <i class="icon-edit"></i>Изменить
      </button>
    </legend>
    <h4>Классификаторы</h4>
    <ul id="lstClassifiers">
    </ul>
    <h4>Корректирующие операции</h4>
    <ul id="lstCorrectors">
    </ul>
    <div id="requestProgress" class="progress">
      <div class="bar" data-percentage="0"></div>
    </div>
    <button 
      class="btn btn-large btn-block btn-primary" 
      type="button"
      id="btnSubmit"
      data-loading-text="Выполняется..."
      onclick="btnSubmit_do()">Пуск!</button>
    <div>
      <legend>Входные данные</legend>
      <div class="btn-group">
        <button id="btnRandom" class="btn btn-mini" onclick="btnRandom_do()">
          <i class="icon-refresh"></i>Случайно
        </button>
        <button id="btnClear" class="btn btn-mini" onclick="btnClear_do()">
          <i class="icon-trash"></i>Очистить
        </button>
      </div>
      <textarea id="inputData" class="span12" rows="10"></textarea>
    </div>
  </div> 
  <!-- /div left -->


  <div class="span6">
    <div class="well">
      <button id="btnSave" class="btn btn-mini pull-right" onclick="btnSave_do()">
        <i class="icon-picture"></i>Сохранить
      </button>
      <svg id="viewport" 
           version="1.1" 
           xmlns="http://www.w3.org/2000/svg" 
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <style type="text/css"><![CDATA[
            .axis path,
            .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
            }

            .axis text {
            font-size: 10px;
            }

            .dot {
            stroke: #000;
            opacity: 0.7;
            }
          ]]></style>
        </defs>
      </svg>
    </div>
    <table id="tblMetrics" class="table table-condensed table-striped">
      <thead>
        <caption>Метрики</caption>
      </thead>
      <tbody>
      </tbody>
    </table>
    <table id="tblConfMatrix" class="table table-bordered table-condensed">
      <thead>
        <caption>Матрица ошибок</caption>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="txtModelDescription">
      <center>Текстовое описание</center>
      <pre></pre>
    </div>
  </div> 
  <!-- /div central -->


  <div class="span3">
    <legend>Визуализация</legend>
    <h4>Классы</h4>
    <ul id="legend"></ul>
    <div class="row-fluid">
      <h4>Слои</h4>
      <div id="layerToggles" class="btn-group btn-group-vertical span6" data-toggle="buttons-checkbox">
        <button id="toggleTrain" class="btn btn-block active btn-primary btn-small">
          Обучение
        </button>
        <button id="toggleControl" class="btn btn-block active btn-primary btn-small">
          Контроль
        </button>
        <button id="toggleMap" class="btn btn-block active btn-primary btn-small">
          Карта
        </button>
      </div>
    </div>
    <div id="mapToggles" class="row-fluid">
      <h4>Карты</h4>
      <div id="mapSelect" class="btn-group btn-group-vertical span6" data-toggle="buttons-radio">
      </div>
    </div>
    <legend>Статус</legend>
    <div id="alerts"></div>
  </div> <!-- /div right -->

</div> <!-- /div row-fluid -->
{% endblock body %}

{% block dialogs %}
<div id="dlgModelSettings" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Настройка модели</h3>
  </div>
  <div class="modal-body">
    <legend>Алгебраические операторы</legend>
    <div class="row-fluid">
      <div class="span6">
        <label>Доступные</label>
        <div class="well" style="padding: 0px">
          <ul id="lstClassifiersAvailable" class="nav nav-list"></ul>
        </div>
      </div>
      <div class="span6">
        <label>Выбранные</label>
        <div class="well" style="padding: 0px">
          <ul id="lstClassifiersSelected" class="nav nav-list"></ul>
        </div>
      </div>
    </div>
    <legend>Корректирующие операции</legend>
    <div class="row-fluid">
      <div class="span6">
        <label>Доступные</label>
        <div class="well" style="padding: 0px">
          <ul id="lstCorrectorsAvailable" class="nav nav-list"></ul>
        </div>
      </div>
      <div class="span6">
        <label>Выбранные</label>
        <div class="well" style="padding: 0px">
          <ul id="lstCorrectorsSelected" class="nav nav-list"></ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endblock dialogs %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap-progressbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
<!-- vim: set ft=htmldjango si sw=2 : -->
