{% extends "base.html" %}

{% block title %}{{ self.topic() }}{% endblock %}

{% block topic %}{% endblock %}
{% block author %}{% endblock %}

{% block header %}
<div class="page-header">
  <h1>
    <small>
      <a href="{{ url_for('index') }}">&larr;&nbsp;Классификатор</a>
    </small>
    <span class="pull-right">
      Отчеты
    </span>
  </h1>
</div>
{% endblock %}

{% block body %}
<h2>Список отчетов</h2>
<ul>
  <li><a href="berezin">Алексей Березин</a>
  <li><a href="borisov">Михаил Борисов</a>
  <li><a href="fonarev">Александр Фонарев</a>
  <li><a href="ismagilov">Тимур Исмагилов</a>
  <li><a href="kondrashkin">Дмитрий Кондрашкин</a>
  <li><a href="kurakin">Александр Куракин</a>
  <li><a href="lyubimtseva">Мария Любимцева</a>
  <li><a href="malysheva">Екатерина Малышева</a>
  <li><a href="nizhibitsky">Евгений Нижибицкий</a>
  <li><a href="potapenko">Анна Потапенко</a>
  <li><a href="zak">Евгений Зак</a>
</ul>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

<!-- vim: set ft=htmldjango si sw=2 : -->

